*{box-sizing: border-box}

/* elemen selector */
/* ref: colorhunt.co */

/* mobile / hp */
body {
    background-color: palevioletred;

}

/* tablet */
@media screen and (min-width: 600px) {
    body {
        background-color: yellow;
    }

    .col-sm-6 {
        width: 50%;
        float: left;
    }
    .col-12 {
        width: 100%;}
    
}
/* desktop */
@media screen and (min-width: 992px) {
    body {
        background-color: green;\
    }
    .col {
        width: 25%;
        background-color:yellow ;
        float: left;
    }
    .col2 {
        width: 33.3%;
        background-color:yellow ;
        float: left;
    }
    .col-6 {
        width: 50%;
        background-color: cornsilk;
        float: left;
    }
    

}


/* class selector */

.img-responsive{
    width: 100%;
    max-height: 400px;
}



.col3 {
    width: 66.67% ;
    background-color: cornsilk;
    float: left;
}
.col4 {
    width: 33.33% ;
    background-color: cornsilk;
    float: left;
}



.img-responsive {
    width: 100%;
}

.text-center {
    text-align: center ;
}

.bg-primary{
    background-color: cornsilk;
}

.rounded {
    border-radius: 20px ;
}

.lengkung {
    border-radius: 120px ;
}

.img-rounded {
    /* top-left top-right bottom-right bottom left*/
    border-radius: 50% ;
}

.bg-primary2 {
    background-color: bisque;
}

.row:after {
    content: "";
    clear: both;
    display: table;
  }

  .p-1 {
    padding: 10px;
  }